#home .present
{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home .present > div
{
    margin-left: 85px;
}

@media (max-width: 600px)
{

    #home .present > div
    {
        margin-left: 40px;
        margin-right: 25px;
    }
}
#home .present h1
{
    font-family: Arial, sans-serif;
    font-size: 6rem;
    animation: translate-left-big 1s;
}

#home .present p
{
    font-family: Arial, sans-serif;
    font-size: 1.7rem;
    animation: translate-left-big 1s .25s, opacity .25s;
}

@media (max-width: 600px)
{

    #home .present h1
    {
        font-size: 3rem;
    }

    #home .present p
    {
        font-size: 1.2rem;
    }
}

#home .present .btn-download
{
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 2px solid #0E0E0E;
    width: 250px;
    height: 50px;
    line-height: 35px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border-radius: 35px;
    color: #0E0E0E;
    animation: translate-left-big 1s .5s, opacity .5s;
}

#home .present .btn-download #android
{
    display: inline-block;
    line-height: 50px;
    height: 25px;
    vertical-align: middle;
    float: right;
    margin-top: 5px;
    margin-right: 25px;
}

#home .images
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#home .images #landing-img-home
{
    width: 75%;
    animation: translate-right-big 1s .25s, opacity .25s, bounce 3s 1.25s infinite ease-in-out;
}

#leaderboard .present
{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#leaderboard .present > div
{
    margin-left: 85px;
}

#leaderboard .present h2
{
    font-family: Arial, sans-serif;
    font-size: 6rem;
    animation: translate-left-big 1s;
}

#leaderboard .present p
{
    font-family: Arial, sans-serif;
    font-size: 1.7rem;
    animation: translate-left-big 1s .25s, opacity .25s;
}

#rules .present h2
{
    font-family: Arial, sans-serif;
    font-size: 5rem;
    animation: translate-right-big 1s;
}

#rules .present p
{
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    animation: translate-right-big 1s .25s, opacity .25s;
}
#rules .present > div
{
    margin-right: 85px;
}
#rules .images
{
    padding-left: 85px;
}
#rules .images #landing-img-rules
{
    margin-top: 12.5%;
    height: 75%;
    animation: translate-left-big 1s .25s, opacity .25s, bounce 3s 1.25s infinite ease-in-out;
}

#rules .present
{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1200px)
{
    #rules .images #landing-img-rules
    {
        margin-top: 25%;
        height: 50%;
        animation: translate-left-big 1s .25s, opacity .25s, bounce 3s 1.25s infinite ease-in-out;
    }
    #leaderboard .present h2
    {
        font-size: 3rem;
    }

    #leaderboard .present p
    {
        font-size: 1.5rem;
    }
}
@media (max-width: 800px)
{

    #rules .present > div
    {
        margin-left: 40px;
        margin-right: 25px;
    }
}

#leaderboard .present .btn-download
{
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 2px solid #0E0E0E;
    width: 250px;
    height: 50px;
    line-height: 35px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border-radius: 35px;
    color: #0E0E0E;
    animation: translate-left-big 1s .5s, opacity .5s;
}

#leaderboard .present .btn-download #android
{
    display: inline-block;
    line-height: 50px;
    height: 25px;
    vertical-align: middle;
    float: right;
    margin-top: 5px;
    margin-right: 25px;
}

#leaderboard .leaderboard
{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#leaderboard .scores-list
{
    display: flex;
    flex-direction: column;
}

#leaderboard .scores-elem
{
    height: 60px;
    line-height: 60px;
    margin: 5px;
    border-radius: 25px;
    background: #76B2F7;
    background: linear-gradient(140deg,#A9E5FF 0%, #76B2F7 100%);
    transition: .3s all;
}

@media (max-width: 1200px)
{
    #leaderboard .present
    {
        font-size: 3rem;
        height: 45vh;
    }
    #leaderboard .leaderboard
    {
        font-size: 3rem;
        height: 75vh;
    }
    #leaderboard .scores-elem
    {
        height: 60px;
        line-height: 60px;
        margin: 5px;
        margin-left: 75px;
        margin-right: 75px;
        border-radius: 25px;
        background: #76B2F7;
        background: linear-gradient(140deg,#A9E5FF 0%, #76B2F7 100%);
        transition: .3s all;
    }
}
#leaderboard .scores-elem:nth-child(1) {
    background: rgb(254,254,164);
    background: linear-gradient(140deg, rgba(254,254,164,1) 0%, rgba(245,202,66,1) 100%);
    animation: translate-right-big 1s;
}

#leaderboard .scores-elem:nth-child(2) {
    background: #B8B8B8;
    background: linear-gradient(140deg, #B8B8B8 0%, #E1E1E1 100%);
    animation: translate-right-big 1s .25s, opacity .25s;
}

#leaderboard .scores-elem:nth-child(3) {
    background:#FFC9A9;
    background: linear-gradient(140deg, #FFC9A9 0%, #F7AE76 100%);
    animation: translate-right-big 1s .5s, opacity .5s;
}

#leaderboard .scores-elem:nth-child(4) {
    animation: translate-right-big 1s .75s, opacity .75s;
}

#leaderboard .scores-elem:nth-child(5) {
    animation: translate-right-big 1s 1s, opacity 1s;
}

#leaderboard .scores-elem:nth-child(6) {
    opacity: .5;
    animation: translate-right-big6 1s 1.25s, opacity 1.25s;
}
@keyframes translate-right-big6
{
  from {
      opacity: 0;
      transform: translateX(150px);
  }
  to {
      opacity: .5;
      transform: translateX(0);
  }
}

#leaderboard .scores-elem:nth-child(7) {
    opacity: .25;
    animation: translate-right-big7 1s 1.5s, opacity 1.5s;
}
@keyframes translate-right-big7
{
  from {
      opacity: 0;
      transform: translateX(150px);
  }
  to {
      opacity: .25;
      transform: translateX(0);
  }
}

#leaderboard .scores-elem .position
{
    font-size: 1.5rem;
    font-weight: bold;
}

#leaderboard .scores-elem .username
{
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

#leaderboard .scores-elem .score
{
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

@media (max-width: 1200px)
{
    #leaderboard .present h2
    {
        font-size: 2rem;
    }

    #leaderboard .present p
    {
        font-size: 1rem;
    }
    #leaderboard .scores-elem
    {
        margin-left: 30px;
        margin-right: 0px;
    }
    #leaderboard .scores-elem .position
    {
        font-size: 1.2rem;
    }

    #leaderboard .scores-elem .username
    {
        font-size: 1rem;
    }

    #leaderboard .scores-elem .score
    {
        font-size: .8rem;
    }
}


@media (max-width: 600px)
{

    #leaderboard .present h1
    {
        font-size: 3rem;
    }

    #leaderboard .present p
    {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px)
{

    #leaderboard .present > div
    {
        margin-left: 40px;
        margin-right: 25px;
    }
}
